<div class="well">
    <div class="thumbnail pull-right">
      <img src="//gravatar.com/avatar/{{book.rating}}?s=80&default=wavatar">
    </div>

  <h2>{{ book.title }} - {{ book.rating }}</h2>
  <p>{{ book.description }}</p>

  <div class="btn-group">
    <button
      [disabled]="!rateUpAllowed"
      (click)="rateUp()" class="btn btn-default btn-danger">+</button>
    <button
      [disabled]="!rateDownAllowed"
      (click)="rateDown()" class="btn btn-default btn-primary">-</button>
  </div>
</div>
